
/* Adopt Styles */

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.card {
    max-width: 300px;
    margin: 1%;
    border: white 1px solid;
    border-radius: 5px;
}

.card p {
    color: black;
}

.card-content {
    padding: 3%;
}

.card-content button {
    
}

.card img {
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}