
/* Base Styles */ 

main {
    background-color: #2a2a2a;
    width: 80%;
    margin: auto;
    padding: none;
    margin-top: none;
}

h2 {
    color: #6899ff;
    text-align: center;
    border-bottom: lightslategray 1px solid;
    padding-bottom: 1%;
}

h3 {
    color: #6899ff;

}

p, li, aside {
    color: white;
}

.content {
    padding: 2%;
}


/* Adopt Styles */

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.card {
    max-width: 300px;
    background-color: white;
    flex-basis: auto;
    margin: 2%;
    border: white 1px solid;
    border-radius: 5px;
}

.card p {
    color: black;
}

.card-content {
    padding: 3%;
}

/* Volunteer Styles */

#vol-img {
    float: right;
    width: 25%;
}